@use "./userAgent.scss";
@use "./flexbox.scss";
@use "./element.scss";

.theme-container {
    min-height: 100vh;
}

// 419,719,959
@media (max-width: 959px) {
    .back-to-top {
        display: initial;
    }
}

@media (max-width: 719px) {
    .back-to-top {
        width: 1.6rem;
    }
}

@media (max-width: 419px) {
    .back-to-top {
        width: 1.2rem;
    }
}